html { 
    margin: 0;
    padding: 0;
    font-size: 90.5%;
}

h1 { 
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

body {
    background-image: url("green-fibers.png");
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.sticky {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    background-color: rgba(68, 68, 68, .9);
    height: 60px;
}

.facebook {
    float: left;
    overflow:hidden;
    width:30%;
    height:60px;
}

nav {
    margin: 30px 10px 0 0;
    position: absolute;
    right: 10%;
    font-size: 1.4rem;
    padding: 0;
    border: none;
}

a:link {
    border: none;
    font-family: 'Oxygen', sans-serif;
    color: rgb(231, 100, 32); 
    text-decoration: none;
    padding-left: 10px;
}

a:visited {
    color: rgb(231, 100, 32);
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    color: silver;
}

.logo-wrapper {
    position: relative;
    box-shadow: 2px 2px 2px rgb(58, 64, 64);
    border-top: solid 2px rgb(58, 64, 64);
    border-bottom: solid 2px rgb(58, 64, 64);
    padding: 0;
    height: 80px;
    background-image: url('fireFinal01.png');
}

.logo {
    position: absolute;
    left: 10%;
}

.logo-wrapper h1 {
    font-weight: 300;
}

.logo-wrapper h4 {
    size: 30px;
    padding-left: 20%;
    padding-bottom: 5px;
    color: rgb(58, 64, 64);
    font-family: 'Comfortaa', sans-serif;
}

.logo-wrapper .name_wrapper {
    display: inline-block;
    margin: auto 0;
    vertical-align: top;

}

.logo-wrapper img {
    width: 70px;
    height: 70px;
    padding: 5px 10px 5px 0;
}

.box {
   background-color: rgba(162, 162, 162, 0.3);
   padding-bottom: 1px;
   margin: 0 10%;
}

.top img {
    padding: 100px 0 165px 0;
    width: 100%;
}

.main {
    margin: 0 20%;
}

img {
    width: 100%;
}

.section-wrapper {
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 90px;
}


.events {
    padding-top: 150px;
    padding-bottom: 200px;
}

.section-wrapper.contact {
    padding-top: 90px;
    height: 300px;
    margin-bottom: 30px;
}

.contact .title {
    padding-bottom: 15px;
}

.section p {
    padding-top: 5px;
    padding-bottom: 40px;
}

.section img {
    padding-left: 15px;
}

.content_wrapper {
}

.home {
    position: relative;
}

.home .img_caption_wrapper {
    align: right;
    padding-left: 15px;
}

.title {
    color: rgb(231, 100, 32);
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    /*font-size: 30px;*/
    padding-bottom: 3px;
    margin: 5px;
}

.content, p, h1, h4 {
    margin: 5px;
    color: white;
    font-family: 'Oxygen', sans-serif;
}

.about p {
    padding-top: 30px;
}

/*p {
    font-size: 16px;
}*/

.eoh {
    width: 50%;
    float: right;
}

/*
.left-div {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
}

.space {
    display: inline-block;
    width: 3%;
}

.right-div {
    display: inline-block;
    width: 44%;
    padding: 44%;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
*/

iframe {
    overflow: scroll;
    border: 0px;
    padding: 0px 10px 5px 150px;
}

.calendar-iframe {
    padding: 0;
    height: 400px;
    width: 90%;
    border: solid 10px rgb(58, 64, 64);
    margin: 0 auto;
}

.officers .section {
    text-align: center;
}

.officer {
    padding: 0 0 0 30px;
    display: inline-block;
    margin-right: 30px;
    width: 25%;
    text-align: center;
}

.officer img {
    width: 80%;
}

.officer h4, .officer p {
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}

.officer .email {
    font-size: .8rem;
    padding: 0;
    margin: 0;
}

.bottom-image {
    margin:0;
    padding:0;
    max-width: 100%; 
}

.foot {
    border-top: solid 3px;
    border-top-color:rgba(68, 68, 68, 0.8);
    background-image: url("fireFooter.png");
    height: 15px;
    border-bottom: 0px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%; 
    left: 0;
    bottom: 0;
}


@media screen and (max-width: 700px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 530px) {
    html {
        font-size: 40%;
    }
}